body{
    background-image: url("https://w0.peakpx.com/wallpaper/728/119/HD-wallpaper-rick-morty.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.title{
    color:green;
    font-size: 5em;
    text-align: center;
}
.card-custom-body{
    height: 45vh !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: start;
    justify-content:end;
    flex-direction: column;
}